SATUSEHAT_ENV=sandbox
SATUSEHAT_BASE_URL=https://api-satusehat-stg.dto.kemkes.go.id/fhir-r4/v1
SATUSEHAT_AUTH_BASE_URL=https://api-satusehat-stg.dto.kemkes.go.id/oauth2/v1
SATUSEHAT_DICOM_BASE_URL=https://api-satusehat-stg.dto.kemkes.go.id
SATUSEHAT_CLIENT_ID=your-client-id
SATUSEHAT_CLIENT_SECRET=your-client-secret
SATUSEHAT_ORGANIZATION_ID=your-organization-id
SATUSEHAT_TOKEN_CACHE_FILE=.satusehat/token.json
SATUSEHAT_TEST_PATIENT_IDENTIFIER=https://fhir.kemkes.go.id/id/nik|9271060312000001
SATUSEHAT_TEST_PATIENT_NAME=Ardianto Putra
SATUSEHAT_TEST_PATIENT_BIRTHDATE=1992-01-09
SATUSEHAT_TEST_PATIENT_GENDER=male
SATUSEHAT_TEST_PATIENT_NIK=9271060312000001
